#root {
  color: #045a62;
}

.mantine-List-root {
  margin: 0 !important;
}
.mantine-List-itemLabel,
.mantine-List-itemWrapper {
  width: 100%;
}

.mantine-Drawer-body {
  height: calc(100% - 140px);
  color: #0e8790;
}

.mantine-Drawer-title {
  color: #0e8790;
  font-weight: 800;
}
.mantine-InputWrapper-label {
  font-weight: 600;
}

.warning-modal-high .mantine-Modal-content,
.warning-modal-high .mantine-Modal-content header {
  background-color: #ca2005;
  padding: "0 1rem 0 0";
}
.warning-modal-low .mantine-Modal-content,
.warning-modal-low .mantine-Modal-content header {
  background-color: #ff715b;
  padding: "0 1rem 0 0";
}

.detail {
  position: relative;
}
.recharts-responsive-container {
  min-height: 80px;
  min-width: 80px;
}

@media screen and (max-width: 900px) {
  .mantine-DonutChart-root {
    width: 90%;
    height: 100%;
  }
  .mantine-DonutChart-label {
    display: none;
  }

  .detail .recharts-responsive-container::after {
    content: "Practical Progress";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    font-weight: 600;
  }
}
